body {
	margin: 0px;
	padding: 0px;
}
image {
	display: block;
}
/* header  */
header {
	background-image: url(img/header_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	background-size: cover;
}
.logo-Elena {
	margin-top: 6%;
	width: 12%;
}
.logo-Elena > img {
    width: 100%;
}
.menu {
	margin-top: 3%;
}
.menu ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
.menu ul li {
	margin-right: 60px;
}
a {
	color: white;
	font-family: arial;
	text-decoration: none;
	font-size: 1.20em;
}
.h1 {
	margin-top: 8%;
}
.h1 > span {
	color: white;
	font-size: 5em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	line-height: 0.8em;
}
.just {
	margin-top: 4%;
}
.just .top-content:before {
	content: '';
	position: relative;
	display: block;
	width: 50%;
	border: 2px solid #506a70;
	top: 15px;
	right: 250px;
	opacity: 0.5;
}
.just .top-content {
	color: white;
	font-size: 1.5em;
	font-family: 'PT Sans', sans-serif;
}
.just .top-content:after {
	content: '';
	position: relative;
	display: block;
	width: 50%;
	border: 2px solid #506a70;
	top: -15px;
	left: 450px;
	opacity: 0.5;
}
.button-top {
	width: 340px;
	height: 60px;
	margin-top: 25%;
	margin-bottom: 40%;
	border: 0;
	background: #50c3af;
	border-radius: 90px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
.button-top:hover {
	background: #006B49;
	cursor: pointer;
}

/* block-1 */

.block-1 {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #EEEEEF;	
}
.block-1-1,
.block-1-2,
.block-1-3 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 15%;
}
.icon {
	margin: 40% 0px 15%;
	width: 27%;
}
.icon > img {
    width: 100%;
}
.all-h-content {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
.all-h-content:after {
	content: '';
	position: relative;
	display: block;
	width: 150%;
	border: 1px solid #506a70;
	top: 20px;
	right: 30px;
	opacity: 0.5;
}
.all-p-content {
	display: block;
	text-align: center;
	margin: 25% 0px 30%;
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	line-height: 1.6em;
}

/* block-2 */

.block-2 {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
    justify-content: space-around;
}
.block-2-1,
.block-2-2
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 30%;
	justify-content: center;
	padding-bottom: 5%;
}
.all-h-content-2 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #384048;
	font-size: 1.3em;
}
.all-h-content-2:after {
	content: '';
	position: relative;
	display: block;
	width: 70%;
	border: 1px solid #506a70;
	top: 20px;
	right: 0px;
	opacity: 0.5;
}
.img2 {
    width: 100%;
	min-width: 129px;
	margin: 10% 0%;
}
.img2 > img {
    width: 100%;
}
.all-p-content-2 {
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	font-weight: bold;
	line-height: 1.6em;
}
.margin {
	margin: 10% 0%;
}
.button-b2 {
	border: 0;
	background: #50c3af;
	border-radius: 90px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	width: 120px;
	height: 45px;
	font-size: 1em;
}
.button-b2:hover {
	background: #006B49;
	cursor: pointer;
}


/* block-3 */

.block-3 {
    display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #EEEEEF;
	align-items: center;
}
.block-3-1 {
	width: 80%;
	margin: 5% 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.img3 {
	margin-right: 3%;
}
.all-h-content-3 {
	font-family: 'PT Sans', sans-serif;
	color: #384048;
	font-weight: bold;
	font-size: 1.5em;
}
.block-3-2 {
	display: flex;
	width: 80%;
	flex-direction: column;
    justify-content: flex-start;

}
.all-p-content-3 {
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	font-size: 1.3em;
	line-height: 1.6em;
}
.button-b3 {
	border: 0;
	background: #D2D6DB;
	border-radius: 90px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	width: 120px;
	height: 45px;
	margin-top: 5%;
	margin-bottom: 7%;
	font-size: 1em;
}
.button-b3:hover {
	background: #006B49;
	cursor: pointer;
}

/* block-4 */

.block-4 {
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.block-4-1,
.block-4-2,
.block-4-3 {
	width: 20%;
	margin: 5% 0%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.img4 {
    width: 100%;
	min-width: 129px;
	margin: 10% 0%;
}
.img4 > img {
    width: 100%;
}
.all-h-content-4 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #384048;
	font-size: 1.3em;
}
.all-h-content-4:after {
	content: '';
	position: relative;
	display: block;
	width: 70%;
	border: 1px solid #506a70;
	top: 20px;
	right: 0px;
	opacity: 0.5;
}
.all-p-content-4 {
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	font-size: 1.1em;
}
.margin4-p {
	margin: 15% 0% 5%;
}
.link-4 {
	font-family: 'PT Sans', sans-serif;
	color: #18D0C0;
	text-decoration: none;
}
.margin4-link {
    margin: 10% 0% 10%;
}

/* block-5 */

.block-5 {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #EEEEEF;
}
.block-5-1,
.block-5-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 30%;
	margin-bottom: 5%;
}
.block-5-1-1,
.block-5-2-1 {
	display: flex;
	flex-direction: row;
	margin-top: 20%;
}
.img5 {
	margin-right: 4%;
}
.all-h-content-5 {
	font-family: 'PT Sans', sans-serif;
	color: #384048;
    font-weight: bold;
	font-size: 1.4em;
}
.all-p-content-5 {
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	font-size: 1.1em;
}
.margin5-p {
	margin: 10% 0% 12%;
}

/* block-6 */

.block-6 {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.block-6-1,
.block-6-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.block-6-1 {
	width: 35%;
}
.block-6-2 {
	width: 30%;
}
.img6 {
    width: 100%;
	min-width: 129px;
	margin: 20% 0%;
}
.img6 > img {
    width: 100%;
}
.all-h-content-6 {
	font-family: 'PT Sans', sans-serif;
	color: #384048;
    font-weight: bold;
	font-size: 1.4em;
	margin-top: 20%;
}
.all-p-content-6 {
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	font-size: 1.1em;
}
.margin6-h {
	margin-top: 25%;
}
.margin6-p {
	margin: 25% 0% 5%;
}

/* block-7 */

.block-7 {
	background-color: #00C4B0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block-7-1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.block-7-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.img7-1 {
    width: 2%;
	margin: 5% 1%;
}
.img7-1 > img {
    width: 100%;
}
.all-h-content-7 {
	color: white;
	font-size: 1.5em;
	font-family: 'PT Sans', sans-serif;
}
.all-h-content-7:after {
	content: '';
	position: relative;
	display: block;
	width: 110%;
	border: 1px solid #EEEEEF;
	top: 30px;
	right: 40px;
	opacity: 0.5;
}
.margin7-h {
	margin-top: 5%;
}
.img7 {
    width: 12%;
	margin: 3% 0% 7%;
}
.img7 > img {
    width: 100%;
}

/* footer */

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.footer-1 {
    width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.all-h-content-f {
	font-family: 'PT Sans', sans-serif;
	color: #384048;
    font-weight: bold;
	font-size: 1.5em;
}
.all-p-content-f {
	font-family: 'PT Sans', sans-serif;
	color: #787b80;
	font-size: 1.3em;
}
.margin-f-h {
	margin: 10% 2% 7% 5%;
}
.marginf-p {
	margin-top: 10%;
}
.footer-2 {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.footer-2-1 {
    width: 6%;
	margin: 10% 2% 7%;
}
.footer-2-1 > a img {
    width: 100%;
}
.footer-2-2 {
    width: 3%;
	margin: 10% 2% 7%;
}
.footer-2-2 > a img {
    width: 100%;
}
.footer-2-3 {
    width: 5%;
	margin: 10% 3% 7%;
}
.footer-2-3 > a img {
    width: 100%;
}



/* media */

@media (max-width:800px) {
	body {
		width: 110%;
	}
	.footer-1 {
		display: flex;
	    flex-direction: row;
		width:60%;
	}
	.footer-2 {
		width: 50%;
	}
}
@media screen and (max-width:620px){
	body {
		width: 130%;
	}
	.just .top-content:before {
		border: 1px solid white;
	    width: 30%;
	    top: 15px;
	    right: 170px;
	}
	.just .top-content:after {
		border: 1px solid white;
	    width: 30%;
	    top: -15px;
	    right: 170px;
	}
	.block-1-3 {
		width: 17%;
	}
	.block-1-3 .icon {
		width: 19%;
		margin-top: 40%;
	}
	.footer-1 {
		display: flex;
	    flex-direction: row;
		width:90%;
	}
	.footer-2 {
		margin-right: 10%;
	}
    .footer-2-1 {
        width: 10%;
	    margin: 14% 2% 7%;
    }
    .footer-2-2 {
        width: 7%;
	    margin: 14% 2% 7%;
    }
    .footer-2-3 {
        width: 9%;
	    margin: 14% 3% 7%;
    }
}
@media screen and (max-width:555px){
	body {
		width: 140%;
	}
	.h1 > span {
	font-size: 4em;
    }
	.block-1-3 {
		width: 19%;
	}
	.block-1-3 .icon {
		width: 19%;
		margin-top:17%;
	}
	.block-1-2 .icon {
		margin-top: 35%;
	}
	.media-width {
        width: 120%;
	}
	.block-5-2-1 {
		width: 120%;
	}
	.footer-1 {
		width:130%;
	}
	.footer-2-1 {
        width: 13%;
	    margin: 20% 2% 7%;
    }
    .footer-2-2 {
        width: 10%;
	    margin: 20% 2% 7%;
    }
    .footer-2-3 {
        width: 12%;
	    margin: 20% 3% 7%;
    }
}
@media screen and (max-width:479px){
	body {
		width: 155%;
	}
	.menu ul{
		flex-direction: column;
		align-content: flex-start;
	}
	.menu ul li a{
		font-size: 3em;
	}
    .block-1,
    .block-3,
    .block-4,
    .block-5,
	.block-6 {
		flex-direction: column;
		align-items: center;
	}
    .icon {
		width: 100%;
	}
	.all-h-content,
	.all-h-content-2,
	.all-h-content-3,
	.all-h-content-4,
	.all-h-content-5,
	.all-h-content-6,
	.all-h-content-7,
	.all-h-content-f{
		font-size: 3em;
	}
	.all-p-content,
	.all-p-content-2,
	.all-p-content-3,
	.all-p-content-4,
	.all-p-content-5,
	.all-p-content-6,
    .all-p-content-f {
		font-size: 2em;
	}
	.block-2-1,
    .block-2-2 {
		width: 60%;
	}
	.img2 {
		width: 110%;
	}
	.block-4-1,
	.block-4-2,
    .block-4-3	{
		width: 60%;
	}
	.link-4 {
		font-size: 2em;
	}
    .block-5-1,
	.block-5-2 {
		width: 60%;
	}
	.block-6-1,
	.block-6-2 {
		width: 60%;
	}
	.block-7-2 {
		flex-direction: column;
		align-items: center;
	}
	.img7 {
		width: 40%;
		margin-top: 5%;
	}
	footer {
		flex-direction: column;
		align-items: center;
	}
	.footer-1 {
		width: 70%;
		flex-direction: column;
		align-items: center;
	}
	.footer-2-1,
	.footer-2-2,
	.footer-2-3 {
		margin-top: 6%;
		margin-left: 15%;
	}
}
@media screen and (max-width:360px){
	body {
		width: 180%;
	}
}
@media screen and (max-width:411px){
	body {
		width: 190%;
	}
	.h1 {
		width: 80%;
	}
}
